@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz&display=swap');

/*----------------------------Estilos generales ----------------------------*/

*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 2px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 5;
}
.section__titulo{
    text-align: center;
    font-size: 40px;
    color: grey;
}
/*----------------------------Estilos del header ----------------------------*/
.header{
    height: 60px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.logo, .icon-menu{
    margin: 5px;
    color: #fff;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: gray;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*----------------------------Estilos del menu ----------------------------*/
.nav{
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: 0.4s;

}
.menu{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu__link{
    display: block;
    padding: 15px;
    background-color: rgba(82, 89, 99, 0.48);
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select{
    background:rgba(255, 255, 255, 0.47);
    color: #323;
}
.mostrar{
    left: 0;
    
}

/*----------------------------Estilos del banner ----------------------------*/

.banner{
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}
.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;

}
.banner__txt{
    display: none;
}

/*----------------------------Estilos de info ----------------------------*/

.info__columna{
    background: gray;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.info__img{
    margin: auto;
}
/*----------------------------Estilos de hombre ----------------------------*/
.hombre__columna{
    position: relative;
    margin-bottom: 30px;
}
.hombre__descripcion{
    position: absolute;
    top: 0;
    left:0;
    color: #fff;
    background: rgb(0,0,0,0.4);
    width: 40%;
    height: 100%;
    padding: 5px;
}
.hombre__titulo{
    font-size: 25px;
    margin: 5px;
}

/*----------------------------Estilos de footer ----------------------------*/
.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"]{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

/*----------------------------Estilos responsive ----------------------------*/
@media(min-width:340px){
    .logo{
        font-size: 40px;
    }
    .banner__titulo{
        font-size: 30px;
        letter-spacing: 5px;
        margin: 5px 0;
    }
    .banner__txt{
        display: block;
        font-size: 20px;
        margin: 10px 0;
    }
    .info{
        display: flex;
        justify-content: space-between;
        margin-top: -70px;
    }
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        letter-spacing: 3px;
    }
    .section__titulo{
        width: 100%;
    }
    .hombre{
        display: flex;
        flex-wrap: wrap;
    }
    .hombre__columna{
        width: 48%;
    }
    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }
}
@media(min-width:747px){
    .logo{
        font-size: 50px;
    }
    .banner__titulo{
        font-size: 50px;
    }
    .hombre{
        margin-left: 130px;
      }
    .hombre__titulo{
        font-size: 35px;
        letter-spacing: 3px;
        text-align: left;
    }
}
@media(min-width:980px){
    .logo{
        font-size: 60px;
    }
    .contenedor{
        margin: auto;
        width: 800px;
    }
    .nav{
        position: static;
        width: auto;
    }
    .menu{
        display: flex;
    }
    .hombre{
        margin-left: 150px;
    }
    .icon-menu{
        display: none;
    }
    .banner__titulo{
        font-size: 60px;
    }
    .hombre__titulo{
        font-size: 30px;
    }
}
@media(min-width:1179px){
    .logo{
        font-size: 70px;
    } 
}